<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>08狼人4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jared Ye">
</head>

<body>

<h1>08软件4班 http://wolfware4.com/ </h1>
    <form action="{{ url_for("send_message") }}" method="POST">
        要发布到<a href="http://weibo.com/u/2893236202">班级weibo<a>的内容:<input type="text" name="msg">
        <input type="submit">
<p> 这里很空， 希望参与班级网站打理的联系叶士铭。大家搞起呀 </p>
<p> 希望同学们<a href="https://github.com/jaredye/wolfware4">贡献</a>点代码</p>
</form>
</body>
</html>
