<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>test</title>
</head>
<body>
<div id="header">
    <div class="middle clearfix">
        <h1><a href="/" title="Home">Gravatar.com</a></h1>

        <h2>A Globally Recognized Avatar</h2>

        <div id="login">
            <div id="loginContainer">


                <a id="login-trigger" class="my-account-trigger"><span>My Account</span></a>

                <div id="login-box" style="display: none; ">
                    <div class="my-account-menu">
                        <ul class="submenu">
                            <li><a href="/emails/">Manage My Gravatars</a></li>
                            <li><a href="/profiles/edit/?noclose">Edit My Profile</a></li>
                            <li><a href="/jaredye">View My Profile</a></li>
                            <li><a href="/emails/new/">Add an Email Address</a></li>
                            <li><a href="/gravatars/new/">Add an Image</a></li>
                            <li><a href="/account/change-password/">Change Password</a></li>
                            <li><a href="/site/logout/">Log Out</a></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>

        <p class="intro">Your Gravatar is an image that follows you from site to site appearing beside your name when
            you do things like comment or post on a blog. Avatars help identify your posts on blogs and web forums, so
            why not on any site?</p>


        <div class="gcard_header" style="float: right;">

            <a href="http://gravatar.com/767fc9c115a1b989744c755db47feb60" class="grav-clone-a" target="_blank"
               style="z-index: 15; border: none; text-decoration: none; float:left; position: relative; top: 22px; left:-23px; "><img
                    alt="Matt M" width="66" height="66"
                    src="//2.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=132&amp;d=wavatar" border="0"
                    id="grav-clone-767fc9c115a1b989744c755db47feb60" class="grav-hijack grav-clone"
                    style="-webkit-box-shadow: rgb(170, 170, 170) 0px 0px 4px; box-shadow: rgb(170, 170, 170) 0px 0px 4px; border-width: 2px 2px 13.2px; border-color: rgb(255, 255, 255); border-style: solid; padding: 0px; -webkit-transform: rotate(-4deg) scale(1.3); "></a>

            <div id="profile-767fc9c115a1b989744c755db47feb60" class="gcard"
                 style="display: block; opacity: 1; float:left; position: relative;">
                <div class="grav-inner gcard-about">
                    <div class="grav-grav">
                        <a href="http://gravatar.com/matt" target="_blank"><img
                                src="//1.gravatar.com/avatar/767fc9c115a1b989744c755db47feb60?s=200&amp;r=pg&amp;d=mm"
                                width="100" height="100"></a>
                    </div>
                    <div class="grav-info">
                        <h4><a href="http://gravatar.com/matt" target="_blank">Matt</a></h4>

                        <p class="grav-loc">
                            embarcadero and townsend, sf ca
                        </p>

                        <p class="grav-about">

                            In 2002 I started contributing to Open Source software, and life has just gotten better from
                            there. Co-founder of WordPress, founder Automattic.
                        </p>

                        <div class="grav-view-complete-button">
                            <a href="http://gravatar.com/matt" target="_blank" class="grav-view-complete">View Complete
                                Profile</a>
                        </div>

                    </div>
                    <div style="clear:both">
                    </div>
                </div>
                <div class="grav-cardarrow"
                     style="height: 148.5px; right: auto; left: -7px; background-position: 0px 25px; ">
                </div>
                <div class="grav-tag">
                    <a href="http://gravatar.com/" title="Powered by Gravatar.com" target="_blank">&nbsp;</a>
                </div>

            </div>


        </div>
        <!-- end .gcard_header -->


    </div>

</div>
</body>
</html>
