{% extends "layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style type="text/css">
        body {
            background-image: url('{{ url_for('static', filename='img/flag.png') }}');
            min-width: 980px;
        }

        .gray-board {
            background-image: url('{{ url_for('static', filename='img/wash-white.png') }}');

        }
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-carousel.js') }}"></script>
    <script type="text/javascript">
        $('.carousel').carousel();
    </script>
{% endblock %}
{% block main %}

    <div class="container">
        <div class="row" style="min-width: 1000px;">
            <div class="span8 well">
                <div class="">
                    <h1>狼人窝</h1>

                    <div id="myCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                            <div class="item active"><img src="{{ url_for('static', filename='img/psu.jpg') }}" alt="">
                            </div>
                            {#                            <div class="item"><img src="{{ url_for('static', filename='img/IMG_1007.JPG') }}"#}
                            {#                                                          alt=""></div>#}
                            {#                            <div class="item"><img src="{{ url_for('static', filename='img/IMG_1008.JPG') }}" alt="">#}
                            {#                            </div>#}
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                    {#                    <div class="btn btn-large">#}
                    {#                        <img src="{{ url_for('static', filename='img/SINA_LOGO_64x64.png') }}" alt="发班级微博">#}
                    {#                    </div>#}
                    {#                    <div class="btn btn-large">#}
                    {#                        <img src="{{ url_for('static', filename="img/contact.png") }}" alt="通讯录">#}
                    {#                    </div>#}
                </div>
            </div>
            <div class="span3 well">
                <div class="row">
                    <div class="span3">
                        <h2>发班级微博暂时取消</h2>
                        由于新浪微博账户授权每两天需要人工更新，而且此功能并不频繁使用，所以在做出更好的解决方法之前，此功能暂时取消。
                    </div>
{#                    <div class="span3">#}
{#                        <h1>发班级微博</h1>#}
{##}
{#                        <p>欢迎同学和班级外的朋友关注<a href="http://weibo.com/u/2893236202"><img#}
{#                                src="{{ url_for('static', filename='img/SINA_LOGO_16x16.png') }}" alt="">班级微博</a></p>#}
{##}
{#                        <form action="{{ url_for("send_message") }}" method="POST">#}
{#                            要发布到<a href="http://weibo.com/u/2893236202"><img#}
{#                                src="{{ url_for('static', filename='img/SINA_LOGO_16x16.png') }}"#}
{#                                alt="">班级微博</a>的内容:<input type="text" name="msg"#}
{#                                                          placeholder="写点八卦呗">#}
{#                            <input type="submit" class="btn">#}
{#                        </form>#}
{#                    </div>#}
                    {#                    <div class="offset1 span3 well">#}
                    {#                        <h2><a href="{{ url_for("contacts.index") }}">狼人通讯录</a></h2>#}
                    {#                    </div>#}
                </div>
                <div class="row">
                    <div class="span3">
                        <form action="{{ url_for('post_message') }}" method="POST">
{#                            <table class="table" style="max-width: 100px;">#}
                                {% for message in messages %}
{#                                    <tr>#}
{#                                        <td>#}
                                    <p>
                                            {{ message.publish_date | timesince }}:{{ message.content }}
{#                                        </td>#}
{#                                    </tr>#}
                                    </p>

                                {% endfor %}
{#                                <tr>#}
{#                                    <td>#}
                            <p>
                                        <input type="text" placeholder="写下你对班级网站的建议哈" name="content"><input
                                            type="submit"
                                            class="btn btn-primary">
                            </p>
{#                                    </td>#}
{#                                </tr>#}
{##}
{#                            </table>#}
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span3"><h3>代码放置在 <a href="https://github.com/jaredye/wolfware4">github</a>上</h3>
                        欢迎同学参与班级网站开发。请联系 <a href="http://jaredye.info">Jared Ye</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#    <div>#}
    {#        <div class="container">#}

    {#        </div>#}
    {##}
    {#    </div>#}

{% endblock %}