<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>08狼人窝</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jared Ye">
    <meta name="baidu_union_verify" content="3b33dc2d3a286577ab21e53cb075ff0d">
    <!-- 谷歌统计 -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-33362471-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>


    <!-- 百度统计 -->
    <script type="text/javascript">
        var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
        document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F50d1da8ad5dfd6e731df9eee6104038b' type='text/javascript'%3E%3C/script%3E"));
    </script>

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <style>

        body {
            padding-top: 60px;
            padding-bottom: 40px;
            background-image: {{ url_for('static', filename='img/flag.png') }}
        }

    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    {#    <link href="./main.css" rel="stylesheet"/>#}
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">


</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a href="/" class="brand">08狼人窝</a>

            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="{{ url_for("contacts.index") }}">狼人录</a></li>
                    <li><a href="http://weibo.com/u/2893236202">班级微博</a></li>
                    <li>
                        <div id="xc-lang-selector"></div>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="container alert fade in alert-success" style="display: none;">
            <div class="row-fluid">
                <div class="span12">
                    <ul class=flashes>
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
{% endwith %}


{% block body %}{% endblock %}
{% block main %}
{% endblock %}

<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
{% block template %}
{% endblock %}
{% block javascript %}
{% endblock %}

<script type="text/javascript">
    $(".alert").alert();
    //提示信息
    $(".alert").hide().slideDown(500).delay(3000).slideUp(500);

</script>
<script type="text/javascript">
    var xctServiceName = 'ysmtest3';
    var xctCurrentDomain = window.location.protocol + "//" + window.location.host;
    var xctDefaultStyles = true; // set to false to use your own css
    var xctProt = (("https:" == document.location.protocol) ? "https://" : "http://");
    document.write(unescape("%3Cscript src='" + xctProt + "i.xingcloud.com/proxy/language.js?serviceName=" + xctServiceName + "&currentDomain=" + xctCurrentDomain + "' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
